@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    font-size: clamp(0.8em, 0.3em + 2vw, 2em);
    line-height: 1.5;
    font-weight: 400;
  }

  body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}
